@import "~vue-material/dist/theme/engine"; // Import the theme engine

// @include md-register-theme("default", (
//   primary: #1e857f, // The primary color of your application
//   accent: #0431ac // The secondary color of your brand
//   theme: dark,
// ));

@include md-register-theme("default", (
  primary: #7cb9ff, // The primary color of your application
  accent: #0431ac, // The secondary color of your brand
  theme: dark
));

@import "~vue-material/dist/theme/all"; // Apply the theme
